@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
#root {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}

.App {
  width: 100%;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-title {
  font-size: calc(42px + (50 - 42) * (100vw - 320px) / 1120);
  font-weight: bold;
}
.App-triangle_top {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 325px;
  border-left-width: 325px;
  border-bottom: 50px solid rgb(255, 108, 98);
  margin-bottom: -15px;
}

.users-list {
  width: inherit;
  height: 600px;
  background-color: rgb(255, 108, 98);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 6px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.users-list_item {
  width: 100%;
  height: max-content;
  border: 1px solid rgba(39, 71, 114, 0.3);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-size: 12px;
  position: relative;
}
.users-list_item:hover {
  animation: HoverListItemAnimation 0.8s ease forwards;
  border: 1px solid transparent;
}
.users-list_item-element {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 12px;
}
.users-list_item-element span {
  font-size: 20px;
  margin-left: 15px;
}
.users-list_item-element_button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-left: 20px;
}
.users-list_item-element_button:hover {
  background-color: rgb(245, 156, 124);
  border-radius: 50%;
  padding: 2px;
}
.users-list_item-element_button-img {
  width: 40px;
  height: 40px;
}
.users-list_item-number {
  font-size: 30px;
  margin-right: 10px;
}
.users-list_item-edit {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}
.users-list_item-edit:hover {
  background-color: rgb(245, 156, 124);
  border-radius: 50%;
  padding: 2px;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.activeRemoveStatus {
  background-color: rgb(144, 160, 183);
}
.activeRemoveStatus .users-list_item-element {
  text-decoration: line-through;
}

@keyframes HoverListItemAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(75, 189, 134);
    color: rgb(243, 247, 251);
  }
}
.add-new_user {
  margin-bottom: 20px;
}
.add-new_user-input {
  height: 40px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.add-new_user-button {
  width: 220px;
  height: 50px;
  background-color: rgb(75, 189, 134);
  border-radius: 6px;
  margin-top: 30px;
  color: rgb(250, 250, 250);
  font-size: 22px;
  overflow: hidden;
}
.add-new_user-button:hover {
  animation: HoverButtonAnimation 0.8s forwards;
}

@keyframes HoverButtonAnimation {
  from {
    background-color: rgb(75, 189, 134);
    color: rgb(250, 250, 250);
    padding-top: 50px;
  }
  to {
    background-color: rgb(144, 160, 183);
    color: rgb(250, 250, 250);
    padding-top: 0;
  }
}
.language {
  position: absolute;
  right: 30px;
  top: 30px;
}
.language-wrapper_item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 50%;
  text-transform: uppercase;
}

.activeLanguage {
  background-color: rgb(255, 108, 98);
  color: rgb(250, 250, 250);
}

.filters-block {
  width: inherit;
  padding: 20px;
  background-color: rgb(255, 108, 98);
  border-radius: 6px;
}
.filters-block_wrapper-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filters-block_wrapper-form_inp:first-child {
  margin-right: 10px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: 0.1s forward;
}

*:before *:after {
  box-sizing: border-box;
}

*:disabled {
  opacity: 0.5;
}

* ul {
  padding: 0;
  margin: 0;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  outline: none;
  scroll-behavior: smooth !important;
  overflow: hidden;
  background: #fff;
  color: rgb(41, 47, 54);
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

.form-check-input:checked {
  background-color: rgb(75, 189, 134);
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  cursor: pointer;
}
button span {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none !important;
}

video:active, video:focus {
  outline: none !important;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  cursor: default;
  font-weight: bold;
}

p, span {
  cursor: default;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 6px;
  width: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: rgb(41, 47, 54);
  border-radius: 6px;
  width: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
  height: 6px;
}

/*# sourceMappingURL=style.css.map */
